@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: #ccc linear-gradient(#ccc, #eee, #fff) repeat 0 0 fixed;
}

/* 헤더 */
.header, .main-content {
  box-sizing: border-box;
  background-color: #fff;
  /* position: relative; */
  padding: 0 30px 50px 30px;
  border-radius: 15px 15px 15px 15px;
  margin: 0 auto;
  width: 940px;
}
.heading {
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
}
.title {
  color: rgb(197, 34, 22);
  font-style: italic;
}
.description {
  font-size: 1.8rem;
  padding: 20px;
  line-height: 25px;
}
.hall-of-fame {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: lightgray;
}
.ranking {
  margin: auto;
}
.row th, .row td {
  background: lightyellow;
  width: 200px;
  padding: 10px 0 10px 0;
}

/* 메인 컨텐츠 */
.score-board {
  border: 1px solid black;
  position: fixed;
  right: 0;
  z-index: 1;
  background: lightyellow;
  text-align: center;
}
.score-board .row th, .score-board .row td {
  width: 75px;
  padding: 0 0 5px 0;
  /* border: 1px solid black; */
}
.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.list > li {
  position: relative;
  flex-basis: 20%;
  height: 250px;
}
.list input[type="radio"] {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}
.list input[type="radio"]:checked+label {
  border: 1.2px solid rgb(236, 83, 83);
}
/* input checked시, class="active" 추가 */
.active {
  transform: rotateY(360deg);
}
.list label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 115px;
  border: 1.4px solid rgb(154, 160, 161);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 1s;
  backface-visibility: hidden;
  background: whitesmoke;
}
.score-list {
  padding-bottom: 20px;
}
.wrapper {
  text-align: center;
}
.quiz-start {
    display: block;
    margin: 40px auto;
    line-height: 50px;
    width: 200px;
    height: 50px;
    background: #9AD3DE;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.quiz-start:hover {
  background: lightblue;
}
.select-error {
  display: none;
  color: red;
  font-weight: 500;
}
.score-error {
  display: none;
  text-align: center;
  color: red;
  font-weight: 500;
}

/* 퀴즈 출제 영역 */
.quiz-prompt {
  display: none;
  margin-top: 30px;
  position: relative;
  border: 1px solid rgb(37, 42, 43);
  border-radius: 8px;
  background: whitesmoke;
  /* text-align: center; */
}
.quiz {
  padding: 20px;
}
.quiz-heading {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 0;
  font-size: 2.5rem;
}
.quiz-description {
  /* font-size: 1.3rem; */
  padding: 1rem 3rem 1rem 3rem;
  text-align: left;
  margin: 0 auto;
  /* background-color: lightgoldenrodyellow; */
  font-size: 1.6rem;
  line-height: 3rem;
  /* font-weight: 600; */
}
/* code {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 600;
} */
.choice-list {
  /* background: skyblue; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.choice {
  text-align: center;
  background: lightpink;
  flex-basis: 24%;
}
/* timer */
.timer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  color: #f44336;
  text-align: center;
  line-height: 3rem;
  padding-top: 2.2rem;
  /* border: 1px solid black; */
}
.submit {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
  height: 50px;
  /* margin: 20px 0 20px 0; */
}

/* 팝업 */
.popup {
  display: none;
  background: whitesmoke;
  position: absolute;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* border: 2px solid rgb(37, 42, 43); */
  border: 2px solid #9AD3DE;
  border-radius: 8px;
}
.popup > p {
  line-height: 25px;
  color: #333;
}
.popup > span {
  display: inline-block;
}
.popup > div > button {
  background: #9AD3DE;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}