@charset "utf-8";
/* CSS Initialize */
*::after,
*::before,
* {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
  padding: 0;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.header, .main-content {
  margin: 0 auto;
  width: 940px;
}
.header {
  text-align: center;
}
.main-content {
  position: relative;
}
/* 헤더 */
.logo, .description {
  text-align: center;
}
.description {
  font-size: 1.2rem;
  margin: 0;
}
.hall-of-fame {
  width: 940px;
  margin-top: 10px;
  color: black;
  background-color: #fff;
  text-align: center;
}
.hall-of-fame > h2 {
  text-align: center;
  font-size: 1.8rem;
}
.ranking {
  margin: 0 auto;
}
.ranker {
  list-style-type: upper-roman;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  width: 300px;
}
.score-board {
  border: 1px solid black;
  position: fixed;
  right: 0;
  z-index: 1;
}
.category-list {
  display: flex;
  justify-content: space-between;
}
.category-list > li {
  position: relative;
  flex-basis: 30%;
  height: 400px;
}
.category-list input[type="radio"] {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}
.category-list label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #333;
  background-color: #fff;
}
.category-list input[type="radio"]:checked + label {
  border: 1px solid red;
}
/* 카테고리 선택 영역 */
.category-list {
    display: flex;
    justify-content: space-between;
}
.category-list > li {
    position: relative;
    flex-basis: 30%;
    height: 400px;
}
.category-list input[type="radio"] {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1px;
    height: 1px;
}
.category-list label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #333;
    background-color: #fff;
}
.category-list input[type="radio"]:checked + label {
    border: 1px solid red;
}

/* 퀴즈 출제 영역 */
.quiz-prompt {
  /* background: lime; */
  position: relative;
  border: 1px solid rgb(37, 42, 43);
  border-radius: 8px;
  background: whitesmoke;
  text-align: center;
}
.quiz {
  /* background: tomato; */
  padding: 20px;
}
.quiz-heading {
  /* background: teal; */
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}
.quiz-wrapper {
  /* background: orange; */
}
.quiz-description {
  /* background: cyan; */
  font-size: 1.3rem;
  padding: 1rem 3rem 1rem 3rem;
  text-align: left;
  margin: 0;
}
.choice-list {
  /* background: skyblue; */
  margin: 0;
  /* padding: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.choice {
  text-align: center;
  /* background: gray; */
  flex-basis: 24%;
}
.timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  /* background: yellow; */
  text-align: center;
  line-height: 3rem;
}
.submit {
  margin: auto;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

/* 퀴즈 카테고리, 문제별 점수 */
.quiz-category {
  padding-bottom: 20px;
}
.list {
  display: flex;
  justify-content: space-evenly;
}
.list>li {
  position: relative;
  flex-basis: 20%;
  height: 250px;
}
.list input[type="radio"] {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}
/* JS 동작 -> onclick시 checked */
.list input[type="radio"]:checked+label {
  border: 1.2px solid rgb(236, 83, 83);
  transform: rotateY(360deg);
}
.list label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 115px;
  border: 1.4px solid rgb(154, 160, 161);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 1s;
  backface-visibility: hidden;
  background: whitesmoke;
}
/* 퀴즈 스타트 버튼 */
.quiz-start {
  display: block;
  margin: 40px auto;
  line-height: 50px;
  width: 200px;
  height: 50px;
  background: #9AD3DE;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
/* 미입력시 오류 메시지 */
.error {
}
/* 팝업창 */
.quiz-prompt {
  position: relative;
}
.popup {
  /* JS 동작 -> onclick시 display: none 삭제; */
  /* display: none; */
  background: whitesmoke;
  position: absolute;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 10px; */
  text-align: center;
  border: 2px solid #9AD3DE;
  border-radius: 8px;
}
.popup>p {
  line-height: 25px;
  color: #333;
}
.popup>div>button {
  background: #9AD3DE;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}
.popup>div>button:hover, .quiz-start:hover {
  background: lightblue;
}
