*::after,
*::before,
* {
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
.category-list {
    display: flex;
    justify-content: space-between;
}
.category-list > li {
    position: relative;
    flex-basis: 30%;
    height: 400px;
}
.category-list input[type="radio"] {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1px;
    height: 1px;
}
.category-list label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #333;
    background-color: #fff;
}
.category-list input[type="radio"]:checked + label {
    border: 1px solid red;
}