@charset "utf-8";

ul {
  list-style: none;
  padding: 0;
}
body {
  position: relative;
}
.main-content {
  width: 940px;
  margin: 50px auto 50px auto;
}
.new-problem {
  display: flex;
  flex-direction: column;
}
.property {
  display: block;
  margin: 20px 0 20px 0;
  text-align: center;
  border: 2px solid #333;
  border-radius: 15px;
}
#question,
#answer {
  display: block;
  width: 90%;
  padding: 10px 5px 10px 5px;
  font-size: 25px;
  margin: 0 auto 15px auto;
  text-align: center;
}
#description {
  display: block;
  width: 90%;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  height: 200px;
  margin: 25px auto 25px auto;
}
.list {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}
.list li {
  position: relative;
  width: 20%;
}
.list input[type="radio"] {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}
.list input[type="radio"]:checked+label {
  border: 1.4px solid #333;
  box-shadow: 3px 3px 6px rgb(221, 213, 213);
  color: rgb(236, 67, 67);
}
.list label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 40%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  box-shadow: 3px 3px 6px #333;
  border-radius: 8px;
  transition: transform 1s;
  backface-visibility: hidden;
  background-size: 99% 99%;
  font-weight: 900;
}
.choice-list {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
.choice-list > li {
  padding-top: 10px;
}
.btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 70px;
  font-size: 1.5rem;
  background-color: rgb(63, 196, 69);
  border: 1px solid rgb(38, 121, 42);
  border-radius: 10px;
}
.btn:hover {
  background-color: rgb(38, 121, 42);
  border: 1px solid rgb(63, 196, 69);
}
.heading {
  margin: 25px 0 25px 0;
  text-align: center;
}
.hidden {
  display: none;
}
.disable {
  pointer-events: none;
}
.category-wrapper {
  margin: 20px auto;
  border: 2px solid black;
  padding: 10px 20px;
}
.toggle-screen {
  position: fixed;
  top: 50%;
  right: 0;
}