@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: black;
}

/* 헤더 */
.header,
.main-content {
  box-sizing: border-box;
  background-image: url('../img/bg-blur.jpg');
  background-size: 100% 100%;
  padding: 0 30px 50px 30px;
  border-radius: 15px 15px 15px 15px;
  margin: 0 auto;
  width: 940px;
}
.main-content {
  position: relative;
  margin-top: 20px;
}
.heading {
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
  caption-side: bottom;
  color: whitesmoke;
}
.header > h1 {
  color: whitesmoke;
  text-shadow:
    0 0 10px rgb(243, 8, 8),
    0 0 20px rgb(243, 8, 8),
    0 0 40px rgb(243, 8, 8),
    0 0 80px rgb(243, 8, 8),
    0 0 90px rgb(243, 8, 8),
    0 0 100px rgb(243, 8, 8),
    0 0 150px rgb(243, 8, 8);
}
.title {
  font-style: italic;
}
.description {
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px rgb(255, 245, 233), 0 0 1em black, 0 0 0.2em black;
  padding: 20px;
  line-height: 25px;
  color: whitesmoke;
  margin: 0 auto;
  width: 85%;
}
.hall-of-fame {
  text-align: center;
  width: 700px;
  padding-bottom: 20px;
  padding-top: 8px;
  margin: 0 auto 20px auto;
  border-radius: 15px;
}
.hall-of-fame > h2 {
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
  0 0 10px gold,
  0 0 20px gold,
  0 0 40px gold,
  0 0 80px gold,
  0 0 90px gold,
  0 0 100px gold,
  0 0 150px gold;
}
.ranking {
  margin: auto;
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
  0 0 10px gold,
  0 0 20px gold,
  0 0 40px gold,
  0 0 80px gold,
  0 0 90px gold,
  0 0 100px gold,
  0 0 150px gold;
  background: #181818;
  opacity: 0.9;
  border-radius: 1.2rem;
}
.row th,
.row td {
  width: 200px;
  padding: 10px 0 10px 0;
}

/* 메인 컨텐츠 */
.score-board {
  border: 1px solid black;
  position: fixed;
  right: 0;
  z-index: 1;
  background: lightyellow;
  text-align: center;
  top: 30rem;
  background: black;
  border-radius: 0.6rem;
}
.score-board .row th,
.score-board .row td {
  width: 75px;
  padding: 0 0 5px 0;
  color: white;
  text-shadow: 0 0 5px rgb(22, 194, 36),
  0 0 10px rgb(22, 194, 36),
  0 0 20px rgb(22, 194, 36),
  0 0 40px rgb(22, 194, 36),
  0 0 80px rgb(22, 194, 36),
  0 0 90px rgb(22, 194, 36),
  0 0 100px rgb(22, 194, 36),
  0 0 150px rgb(22, 194, 36);
}
.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.list > li {
  position: relative;
  flex-basis: 20%;
  height: 250px;
}
.choice-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.choice {
  text-align: center;
  flex-basis: 22%;
  height: 5rem;
  position: relative;
}
.choice label {
  background: whitesmoke;
  color: #181818;
  border-radius: 5px;
  display: block;
  height: 100%;
  line-height: 4.7rem;
  cursor: pointer;
}
.list input[type="radio"],
.choice input[type="radio"]{
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}
.list input[type="radio"]:checked+label,
.choice input[type="radio"]:checked+label {
  border: 1.4px solid #333;
  box-shadow: 3px 3px 6px rgb(221, 213, 213);
  color: rgb(236, 67, 67);
}
.active {
  transform: rotateY(360deg);
}
.list label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 115px;
  box-shadow: 3px 3px 6px #333;
  border-radius: 8px;
  transition: transform 1s;
  backface-visibility: hidden;
  background-size: 99% 99%;
  font-weight: 900;
}
.category-list label {
  background-image: url('../img/vGm4U3r1.jpg');
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.score-list label {
  background-image: url('../img/vGm4U3r2.jpg');
  text-shadow: 1px 1px 2px rgb(231, 108, 6), 0 0 1em rgb(155, 5, 224), 0 0 0.2em rgb(155, 5, 224);
  font-size: 40px;
  color: #fff;
}
.score-list {
  padding-bottom: 20px;
}
.btn-group {
  text-align: center;
  padding-top: 20px;
}
.quiz-start,
.quiz-restart {
  display: block;
  margin: 40px auto;
  line-height: 50px;
  width: 180px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-shadow: 1px 1px 6px #333;
  font-weight: 500;
  color: whitesmoke;
  background-color: black;
}
.quiz-start:hover,
.quiz-restart:hover {
  color: #f44336;
  background: #fff;
}
.select-error {
  color: red;
  font-weight: bold;
}
.score-error {
  text-align: center;
  color: red;
  font-weight: bold;
}

/* 퀴즈 출제 영역 */
.quiz-prompt {
  margin-top: 20px;
  position: relative;
  border: 1px solid rgb(37, 42, 43);
  border-radius: 8px;
  color: whitesmoke;
  background: #181818;
}
.quiz {
  padding: 20px;
}
.quiz-heading {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.5em blue;
}
.quiz-description {
  padding: 1rem 3rem 1rem 3rem;
  text-align: left;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 3rem;
}
.quiz-wrapper > h4 {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0 2rem;
}
.timer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  color: #f44336;
  text-align: center;
  line-height: 3rem;
  padding-top: 2.2rem;
}
.submit {
  display: block;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(90, 88, 88);
  color: white;
  margin: 0 auto 20px auto;
  width: 100px;
  height: 50px;
}
.submit:hover {
  cursor: pointer;
  color: #181818;
}
/* 팝업 */
.popup {
  background: black;
  box-shadow: 1px 1px 4px rgb(221, 213, 213);
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  width: 300px;
  height: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 8px;
}
.popup > p {
  line-height: 25px;
  color: whitesmoke;
}
.popup > span {
  display: inline-block;
}
.popup > div > button {
  background: whitesmoke;
  color: #181818;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  margin-left: 1.2rem;
}
.popup > div > button:hover {
  background: #181818;
  color: whitesmoke;
}
.disable {
  pointer-events: none;
}
.hide {
  display: none;
}